# Ignore all compiled and packaged files
*.class
*.jar
*.war
*.ear

# Ignore cache/working directories
.gradle
.vagrant
.classpath
.project
.settings



# Exception for the gradle wrapper, needed for gradlew command #
!*gradle-wrapper.jar